
 {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}



/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 50%;
    }
}

.video{
  width: 65%;
  float:left;
  margin-top:50px;
  height: 500px;
}

table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
 
  

}
table {
  caption-side: top;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

.name
{
  float: left;
  margin-left: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 70%;
    }
}


.middle
{
  width: 65%;
  height: 100px;
  background-color: red;
  position: absolute;
  margin-top:550px;
}

#leagueTable
{
  position: relative;
  float: right;
  margin-right: 18px;
}

.videobox
{
  position: relative;

}

.main
{
  width: 65%;
  height:400px;
  
  position: sticky;
  margin-top: 600px;
}

.first
{
  width: 50%;
  height: 400px;
  
  position: absolute;
}

.second
{
  width: 60%;
  height: 400px;
  position: relative;
  float: right;
  margin-left: 4px;
}


.footer
{
    margin-top: 40px;
    width: 100%;
    height: 300px;
    background: #333;
    display: flex;

    
}

.footer_text
{
  font-size: 40px;
  color: white;
  margin-left: 40%;
  

}


.footer_lists
{
  margin-left: 13%;
  margin-top: 100px;
  position: absolute;
  font-size: 30px;
}

.footer_lists a
{
  display: inline-block;
  color:white;
  padding: 14px 16px;
  background-color: red;
  text-decoration: none;
  
}

.footer_lists a:hover
{
 
  background-color: green;
  
}